[submodule "vendor/poly2tri"]
	path = vendor/poly2tri
	url = https://github.com/jhasse/poly2tri.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/gui2one/glm
[submodule "vendor/tiny-utf8"]
	path = vendor/tiny-utf8
	url = https://github.com/gui2one/tiny-utf8.git
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = https://github.com/gui2one/freetype.git
